body {
    
    background-image: url("../Gymstartsida.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white; 
}

h1{
    text-align:center;
}


img {
  width: 200px;
  height: auto;
}
header{
    text-align:center;
}