body {
    
    background-image: url("../Gymstartsida.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white; 
}

header {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;      
    padding: 20px;
}

header img {
    width: 120px;
    height: auto;
    position: absolute;      /* take it out of the centering */
    left: 20px;              /* keep it on the left */
}

h1 {
    margin: 0;
    text-align: center;
    width: 100%;
}
nav{
    text-align:center;
}
main{
    text-align:center;
}
